*{
    margin: 0;
    padding: 0;
}

nav{
    margin: auto;
}
ul li{
    position: absolute;
    list-style: none;
    width: 100%;
    z-index: auto;
}
ul li:nth-child(2){
    width: 100%;
}
.panel-footer label{
    font-size: 1em;
}
