*{
    margin: 0;
    padding: 0;
}

/*左边*/
#left{
    float: left;
    width: 70%;
    height: 100%;
    background-color: #eee ;
}
/*左边分布*/
#left .turn{
    position: absolute;
    padding: 10% 0%; 
    width: 5%;
    height: 90%;
    margin: 5% 2%;
}
#left #place_lat{
   margin: 5% 65%; 
} 
#left .turn p{
    font-size: 1em;
}
#left #place_pic{
    overflow: hidden;
    float: left;
    width: 100%;
    height: 100%;
}
#left #place_pic canvas{
    width: 100%;
    height: 100%;
    margin: auto auto;
}
/*图片移动*/
#left .turn:hover{
    overflow: hidden;
    visibility: visible;
    background: #F5F5F5;
    /*background: -moz-linear-gradient(white 20%, whiteSmoke 10%, white 20%);
    background: linear-gradient(white 20%, whiteSmoke 10%, white 20%);*/
}
#left #place_pic canvas:hover{
    overflow: hidden;
    /*transform: scale(1.5); */
}

/*右边*/
#right{
    float: left;
    width: 30%;
    height: 700px;
    background-color: #ffffff;
}
#right div:first-child{
    text-align: center;
}
#right ul li{
    margin: 5% 30%;
    list-style: none;
}
#right hr{
    width: 60%;
    margin: auto;
    color: black;
}
