*{
    margin: 0;
    padding: 0;
}
#addInfo{
    position: fixed;
    width: 200px;
    height: 100px;
    left: 40%;
    top: 35%;
    opacity: 0.3;
}
#addInfo:hover{
    opacity:1;
}

/*书签*/
.cook{
    float: left;
    width: 17%;
    height: 240px;
    margin-left: 20px;
    margin-top: 2em ;
    overflow-y: auto;
}
.cook .panel-body{
    height: 70%;
    width: 100%;
    font-size: 1em;
    overflow: hidden;
}
.cook .panel-footer{
    font-size: .7em;
}
.cook .panel-footer a{
    font-size: 1.5em;
}
